<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<header th:replace="~{cabecalho :: head('Detalhe do cliente')}"></header>
<body>
<nav th:replace="~{menu :: nav}"></nav>
	<div class="container mt-3">
		<form th:object="${clienteDTO}" action="/clientes" method="POST">
			<div class="row">
				<div class="col-md-6">
					<div class="input-group mb-3 input-group-sm">
						<span class="input-group-text">Nome</span> <input
							type="text" readonly th:placeholder="${cliente.nome}"
							class="form-control">
						
					</div>
				</div>
				<div class="col-md-6">
					<div class="input-group mb-3 input-group-sm">
						<span class="input-group-text">Documento</span> <input
							type="text" readonly th:placeholder="${cliente.documento}"
							class="form-control">
						
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="input-group mb-3 input-group-sm">
						<span class="input-group-text">Endereço</span> <input
							type="text" readonly th:placeholder="${cliente.endereco}"
							class="form-control">
						
					</div>
				</div>

			</div>
		</form>
	<div class="row">
		<div class="col-md-12">
			<a href="/clientes">Voltar</a>
		</div>
	</div>
	</div>
	</div>
</body>
</html>